<div>
    <input type="checkbox" id="active_paustianpmcimodule" name="active[PaustianPMCIModule]" value="1" {% if active %}checked="checked"{% endif %} />
    <label for="active_paustianpmcimodule">{{ __('PMCI') }}{# domain='module_pmci' #}</label>
</div>